.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedorPrincipal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  border: 4px solid rgb(91, 175, 147);
  background-color: rgba(127, 255, 212, 0.26);
  width: 40vw;
  padding: 0 5rem; 
  margin-top: 2rem;
}
